* { margin: 0; padding: 0 }

h1, h2, h3{margin: 0 0 15px}

.bg { background: #ccc }
.expand{ width: 100%; float: left }

.container { width: 960px; margin: 0 auto }

.row{
    float: left;
    margin-left: -20px;
    margin-bottom: 15px
}

.grid{
    margin-left: 20px;
    line-height: 20px;
    float: left
}

.grid1{  width: 61.6px }
.grid2{  width: 143px  }
.grid3{  width: 225px  }
.grid4{  width: 306px  }
.grid5{  width: 388px  }
.grid6{  width: 470px  }
.grid7{  width: 552px  }
.grid8{  width: 634px  }
.grid9{  width: 715px  }
.grid10{ width: 797px  }
.grid11{ width: 878px  }
.grid12{ width: 960px; margin-left: 0; margin-bottom: 15px }
.row .grid12{  margin-left: 20px; margin-bottom: 0 }


.top {
    height: 200px   
}

.left {
    min-height:400px
}

.right {
    min-height: 400px 
}

.footer {
    height: 100px
}

.center {
    min-height: 400px
}
