*.expand, *.container,
*.row, *.grid 
{ margin: 0; padding: 0 }

.bg { background: #ccc }
.expand{ width: 100%; float: left }

.container { width: 960px; margin: 0 auto }

.row{
    float: left;
    margin-left: -20px;
    margin-bottom: 15px
}

.grid{
    margin-left: 20px;
    line-height: 20px;
    float: left
}

.g1{  width: 61.6px }
.g2{  width: 143px  }
.g3{  width: 225px  }
.g4{  width: 306px  }
.g5{  width: 388px  }
.g6{  width: 470px  }
.g7{  width: 552px  }
.g8{  width: 634px  }
.g9{  width: 715px  }
.g10{ width: 797px  }
.g11{ width: 878px  }
.g12{ width: 960px; margin-left: 0; margin-bottom: 15px }
.row .g12{  margin-left: 20px; margin-bottom: 0 }
